<li>
	<div id="cell">
		<div id="top">
        	<p><%= t("activerecord.attributes.team.name") %></p>
      	</div>
      	<div id="bottom">
        	<div id="info">
          		<p><%= t("activerecord.attributes.team.numStudents") %></p>
        	</div>
      	</div>
	</div>
</li>
