<div id="teamDetails">
	<h1> Info </h1>
	
	<p>
	  <b><%= t("activerecord.attributes.team.numStudents") %>:</b>
	  <%= @team.numStudents %>
	</p>
	
	<p>
	  <b><%= t("activerecord.attributes.team.school") %>:</b>
	  <%= @team.school.name %>
	</p>
</div>
