<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    
    <style>
    body {
      background-color: #1B77B2;
      font-family: verdana, arial, helvetica, sans-serif; 
    }
    
    #message {
      background-color: #FFFD4C;
      margin: 50px;
    }
    
    #content {
      padding: 0 20px 10px 20px;
    }
    
    h1 {
      text-align: center;
      background-color: #B21312;
      padding: 10px;
      color: white;
    }
    </style>
  </head>
  <body>
    <div id="message">
      <h1>Additional teams have been added to your account!</h1>
      <div id="content">
        <p>As requested, additional teams have been added to your account!</p>
        <p>To update their names, or number of students go to the <%= link_to "Profile Page", profile_path %></p>
        <p>Or if you want to sign them up to for some events, go to the <%= link_to "Events Page", events_path%></p>

          </br>
          <hr />
          <p> If there anything else that you need or something is wrong, feel free to email me at:  <a   href="mailto:nick@nickmcguire.com">nick@nickmcguire.com</a> </p>
      </div>
    </div>
  </body>
</html>