  <li>
    <div id="cell">
      <div id="top">
        <p><%= mail_to application.userEmail, application.userName %></p>
      </div>
      <div id="bottom">
        <div id="info">
          <p>Has applied to create <%= application.teamName %> at <%= application.schoolName %></p>
        </div>
        <div id="options">
          <p>accept • reject</p>
        </div>
      </div>
    </div>
  </li>
