<li>
	<div id="cell">
    	<div id="top">
        	<p><%= t("activerecord.attributes.event.name") %></p>
      	</div>
		<div id="bottom">
       		<div id="info">
        		<p><%= t("activerecord.attributes.event.date") %></br>
		  		<%= t("activerecord.attributes.event.region") %></p>
        	</div>
    	</div>
	</div>
</li>
