<h1>Admin Panel</h1>
<ul>
	<li><%= link_to 'New School', new_school_path %></li>
  <li><%= link_to 'New User', new_user_path %></li>
  <li><%= link_to 'New Team', new_team_path %></li>
  <li><%= link_to 'New Event', new_event_path %></li>
</ul>