<h1>My Profile -  <%= link_to t("activerecord.attributes.school.title"), schools_path %></h1>
<div>
	<div style=" width:45%">
		<div>My Teams</div>
			<table>
				<%= render :partial => "teams/team" %>
			</table>
		</div>
	</div>
	<div style="float:right; width:45%">
		<div>My Events</div>
			<table>
				<%= render :partial => "events/event" %>
			</table>
		</div>
	</div>
</div>