  <li>
    <div id="cell">
      <div id="top">
        <p><%= t("activerecord.attributes.school.region") %></p>
      </div>
      <div id="bottom">
        <div id="info">
          <p><%= t("activerecord.attributes.school.name") %></p>
        </div>
        <div id="options">
          <p>accept • reject</p>
        </div>
      </div>
    </div>
  </li>
