/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#banner {
	width: 100%;
	height: 150px;
	background-color: #B21312;
	
	#logo {
		width: 20%;
		height: 100%;
		float: left;
	}
	
	#title {
		float: left;
		width: 80%;
		font-size: 50px;
	}
	
	#menu {
		width: 80%;
		
	}
	
	p {
		color: #FFFFFF;
		text-align: center;
		line-height: 50px;
		padding-top: 45px;
		margin-bottom: 0px;
	}
}

#content {
	clear: both;
	width: 100%;
	background-color: #FFFD4C;
	height:100%;
}

