// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cell {
	padding: 10px;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid black;
	width: 600px;
	p {
		margin: 0;
	}
	
	#top {
	}
	
	#bottom {
		margin-top: 10px;
		#info {
			width:80%;
			float:left;
		}
		#options {
			width:20%;
			float:left;
			margin-top: 3%;
			p {
				text-align: center;
			}
		}
	}
}
