// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page {
	width:95%;
	margin:0 auto;
	
	h2 {
		font-size: 40px;
		line-height: normal;
	}
	#pageTitle {
		font-size: 40px;
	}
	
	#user {
		width: 100%;
		text-align: center;
	}
	
	#userTeam {
		overflow: hidden;
		background-color: #1B77B2;
		padding: 10px;
		border: 1px black solid;
		width: 47%;
		float: left;
			a {
			color: black;
			}
			h3 {
				color: white;
				text-decoration: underline;
			}
			p {
				color: Black;
			}
			
			ul {
				list-style-type: none;
				padding-left: 0px;
				border: 2px black solid;
				width: 100%;
				overflow: hidden;
				
				.break {
					background-color: black !important;
					padding: 0px;
				}
				
				li {
					text-align: center;
					padding: 7px;
					width: inherit;
					border: 1px black solid;
					
					background-color: #FFFD4C;
					a {
						color: black;
					}
				}
			}
		}
	#userEvent {
		overflow: hidden;
		background-color: #1B77B2;
		padding: 10px;
		border: 1px black solid;
		width: 47%;
		float: right;
			a {
			color: black;
			}
			h3 {
				color: white;
				text-decoration: underline;
			}
			p {
				color: Black;
			}
			
			ul {
				list-style-type: none;
				padding-left: 0px;
				border: 2px black solid;
				width: 100%;
				overflow: hidden;
				
				.break {
					background-color: black !important;
					padding: 0px;
				}
				
				li {
					text-align: center;
					padding: 7px;
					width: inherit;
					border: 1px black solid;
					
					background-color: #FFFD4C;
					a {
						color: black;
					}
				}
			}
		}

	#userInner {
		position: relative;
		padding: 10px;
		border-bottom: 1px black solid;
		
		h2 {
			margin: 0px;
		}
		
		h3 {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0 0 10px;
			font-size: 1.0em;
			text-transform: uppercase;
		}
	}
}
