// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page {
	width:95%;
	margin:0 auto;
	
	h2 {
		font-size: 40px;
		line-height: normal;
	}
	#pageTitle {
		font-size: 40px;
	}
	
	#user {
		width: 100%;
		text-align: center;
	}
	
	#userTeam {
		width: 47%;
		background-color: white;
		float:left;
	}
	#userEvent {
		width: 47%;
		background-color: white;
		float:right;
	}

	#userInner {
		position: relative;
		padding: 10px;
		border-bottom: 1px black solid;
		
		h2 {
			margin: 0px;
		}
		
		h3 {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0 0 10px;
			font-size: 1.0em;
			text-transform: uppercase;
		}
	}
}
